{% extends 'base.html' %}
{% block title %} MCA Data
{% endblock title %} 
{% block body %}
<br> <br>


<div class="container">
    <div class="card text-white bg-info mb-12" style="">
    {% for x,v in student.items  %}
        <div class="card-header"> <h5> {{v.Name}} </h5> </div>
        <div class="card-body">
            <h5 class="card-title">  Email:  {{ v.Email }}  </h5>
            <p class="card-text">
               Enroll Number :  {{ v.Enroll }} <br>
            
            <div class="row text center">
                    <div class="col-sm-6">
                            Mobile : {{ v.Mobile }} 
                    </div>
                    <div class="col-sm-6">
                            Date of Birth : {{ v.DOB }}
                    </div>

                    <div class="col-sm-6">
                              10th CGPA /%age : {{ v.10th }}
                    </div>
                    <div class="col-sm-6">
                               12th : {{ v.12th }}
                    </div>
                    <div class="col-sm-6">
                               Graduation : {{ v.Graduation }}
                    </div>
                    <div class="col-sm-6">
                               MCA CGPA : {{ v.5thCGPA }}
                    </div>
            </div>
            </p>
        </div>
    {% endfor %} 
    </div>
</div>
 <br>
  <br>
    <hr>
     <br>
<h5 class="text-primmary text-center"> The following date is for {{enroll}} Only! </h5>


<div class="container">
    <div class="row "> 
        <div class="card border-primary col-sm-12 mx-md-1 px-md-2 "  >
            <h3 class="text-primary text-center">Upcoming Drive</h3>
                <div class="row justify-content-center">
                    {% for x,v in upcoming_data.items  %}
                        <div class="card text-white bg-dark mb-3 mx-md-2 px-md-2 " style="max-width: 18rem; min-width: 18rem;">
                        <div class="card-header"><h5> {{v.Companies}} </h5> </div>
                        <div class="card-body">
                            <h6 class="card-title"> Test Date : {{ v.test_date }} </h6>
                            <p class="card-text">
                                Test Date : {{ v.test_date }}  <br>
                                Important Date:  {{ v.imp_date }} 
                            </p>
                        </div>
                        </div>
                    {% endfor %} 
                </div>
    </div>

    <br>
   

    <div class="row "> 
        <div class="card border-primary col-sm-12 mx-md-1 px-md-2 "  >
            <h3 class="text-primary text-center">Running Drive</h3>
           
                <div class="row justify-content-center">
                    {% for x,v in running.items  %}
                        <div class="card text-white bg-dark mb-3 mx-md-2 px-md-2 " style="max-width: 18rem; min-width: 18rem;">
                        <div class="card-header"><h5> {{v.Companies}} </h5> </div>
                        <div class="card-body">
                            <h6 class="card-title"> Test Date : {{ v.test_date }} </h6>
                            <p class="card-text">
                                Test Date : {{ v.test_date }}  <br>
                                Important Date:  {{ v.imp_date }} 
                            </p>
                        </div>
                        </div>
                    {% endfor %} 
                </div>
    </div>
  <br>

    <div class="row "> 
        <div class="card border-primary col-sm-12 mx-md-1 px-md-2 "  >
            <h3 class="text-primary text-center">Completed Drive</h3>
                <div class="row justify-content-center">
                    {% for x,v in completed.items  %}
                        <div class="card text-white bg-dark mb-3 mx-md-2 px-md-2 " style="max-width: 18rem; min-width: 18rem;">
                        <div class="card-header"><h5> {{v.Companies}} </h5> </div>
                        <div class="card-body">
                            <h6 class="card-title"> Test Date : {{ v.test_date }} </h6>
                            <p class="card-text">
                                Test Date : {{ v.test_date }}  <br>
                                Important Date:  {{ v.imp_date }} 
                            </p>
                        </div>
                        </div>
                    {% endfor %} 
                </div>
        </div>
    </div>
    {% comment %} Row End {% endcomment %}
</div>
{% comment %} container End {% endcomment %}

    

{% endblock body %} 