{% extends 'base.html' %}
{% block title %} MCA Data
{% endblock title %} 
{% block body %}

<br> <br> <br>
<hr>
<div class="container text-center">
     <h2> MCA Placement Record | NIT Agartala </h2>
    <form method="post" action="/data">
     {% csrf_token %}
    <div class="form-group text-center">
    
       
        <input type="text"  class="form-control text-center" id="enroll" name="enroll" placeholder="Enter Enroll">
        <small id="emailHelp" class="form-text text-muted">Search your On Campus Placement Record.</small>
    </div>
    <button type="submit" class="btn btn-primary col-sm-6">Search</button>
    </form>
</div>
<hr>

{% endblock body %} 